<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.muc_music.dao.MusicMapper" >

  <select id="getAllMusic"  resultType="com.muc_music.pojo.MusicInfo">
    SELECT * FROM music
  </select>

  <select id="getContentByID" parameterType="java.lang.Integer" resultType="com.muc_music.pojo.MusicInfo">
    select * from music
    where MusicID=#{MusicID}
  </select>
  <select id="getContentByNation" parameterType="java.lang.String" resultType="com.muc_music.pojo.MusicInfo">
    select * from music
    where Nation=#{Nation}
  </select>
  <select id="getContentByArea" parameterType="java.lang.String" resultType="com.muc_music.pojo.MusicInfo">
    select * from music
    where Area=#{Area}
  </select>
  <select id="getContentStyle" parameterType="java.lang.String" resultType="com.muc_music.pojo.MusicInfo">
    select * from music
    where Style=#{Style}
  </select>
  <select id="getContentByInstrumentsa" parameterType="java.lang.String" resultType="com.muc_music.pojo.MusicInfo">
    select * from music
    where Instrumentsa=#{Instrumentsa}
  </select>
  <select id="getContentBySinger" parameterType="java.lang.String" resultType="com.muc_music.pojo.MusicInfo">
    select * from music
    where Singer=#{Singer}
  </select>
</mapper>