<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.muc_village.dao.sw_cultureMapper" >

  <select id="getAllCulture"  resultType="com.muc_village.pojo.sw_cultureInfo">
    SELECT * FROM southwest_culture
  </select>

  <select id="getContent" parameterType="java.lang.Integer" resultType="com.muc_village.pojo.sw_cultureInfo">
    select * from southwest_culture
    where SouthwestVillageID=#{SouthwestVillageID}
  </select>

</mapper>