<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.muc_village.dao.sw_ecologyMapper" >

  <select id="getAllEcology"  resultType="com.muc_village.pojo.sw_ecologyInfo">
    SELECT * FROM southwest_ecology
  </select>

  <select id="getContent" parameterType="java.lang.Integer" resultType="com.muc_village.pojo.sw_ecologyInfo">
    select * from southwest_ecology
    where SouthwestVillageID=#{SouthwestVillageID}
  </select>
</mapper>