<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="dao.sw_ecologyMapper" >
  <resultMap id="BaseResultMap" type="pojo.sw_ecology" >
    <id column="SouthwestVillageID" property="southwestvillageid" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="pojo.sw_ecology" extends="BaseResultMap" >
    <result column="SupportingInfrastructure" property="supportinginfrastructure" jdbcType="LONGVARCHAR" />
    <result column="LandmarkBuilding" property="landmarkbuilding" jdbcType="LONGVARCHAR" />
    <result column="EnergyUtilization" property="energyutilization" jdbcType="LONGVARCHAR" />
    <result column="DwellingsFunction" property="dwellingsfunction" jdbcType="LONGVARCHAR" />
    <result column="EconomicDevelopment" property="economicdevelopment" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    SouthwestVillageID
  </sql>
  <sql id="Blob_Column_List" >
    SupportingInfrastructure, LandmarkBuilding, EnergyUtilization, DwellingsFunction, 
    EconomicDevelopment
  </sql>
  <select id="getAllEcology"  resultType="com.muc_village.pojo.sw_ecologyInfo">
    SELECT * FROM southwest_ecology
  </select>

  <select id="getContent" parameterType="java.lang.Integer" resultType="com.muc_village.pojo.sw_ecologyInfo">
    select * from southwest_ecology
    where SouthwestVillageID=#{SouthwestVillageID}
  </select>
</mapper>