<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.muc_village.dao.sw_estheticsMapper" >

  <select id="getAllEsthetics"  resultType="com.muc_village.pojo.sw_estheticsInfo">
    SELECT * FROM southwest_esthetics
  </select>

  <select id="getContent" parameterType="java.lang.Integer" resultType="com.muc_village.pojo.sw_estheticsInfo">
    select * from southwest_esthetics
    where SouthwestVillageID=#{SouthwestVillageID}
  </select>
</mapper>